<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans+Condensed:300,700|Open+Sans:400,700,800" rel="stylesheet">  </head>

  <body id="page3">
    <header>
      <div class='heading1'>
        <h1>Just The Tip...</h1>
      </div>

      <div class="heading2">
        <h2>A place to talk/learn about everything sex.</h2>
      </div>
    </header>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation" class="active"><a href="/posts/">Posts</a></li>
    </ul>

      <section>
        <h3>Tag: <%=post.tag%></h3>
        <h4>Title: <%=post.title%></h4>
      </section>

      <section>
        <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Post" />
        </form>
      </section>

      <section class="edit-post">
        <a href="/posts/<%=post._id%>/edit">Edit Post</a>
      </section>

      <section>
        <a href="/comments/new">Comment On Post</a>
      </section>

      <section>
        <h5>Comments On This Post:</h5>
          <ul>
            <% for(let i = 0; i < post.comments.length; i++) { %>
            <li><a href='/comments/<%=post.comments[i]%>'><%=post.comments[i].entry%></a></li>
          <% } %>
          </ul>
      </section>



  </body>
</html>
